body {
	padding-top: 70px;
}

.jumbotron{
	  background: rgba(0, 0, 0, 0) url("https://tinyurl.com/ybm8cv8n") no-repeat scroll center center / cover;

}

.navbar-inverse .navbar-nav>li>a {
    color: #fc0298;
}

.navbar-inverse .navbar-brand {
    color: #1bfc02a1;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #f76615fc;
    border: 1px solid #b0afb1;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

#content{
    text-align: center;
    padding-top: 25%;
    background: url("https://images.unsplash.com/photo-1454321717968-d243ade71663?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eab87789ba6f0267ff633d16485477b1&auto=format&fit=crop&w=1502&q=80");
    background-size: cover;
    background-position: center;
   
}

.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    margin-bottom: 5px;
}   
